/* Small form labels */
.form-label {
    font-size: small;
    opacity: 0.65;
    margin-bottom: 0;
}

.form-label + p .form-label {
    font-size: x-small;
}

.navbar-brand {
    font-size: 1.5rem;
}

.form-floating-group input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

/* Splitter */
.gutter {
    background-color: #e5e7eb;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* Draggable title bar */
.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.draggable a {
    -webkit-user-select: unset;
    user-select: unset;
    -webkit-app-region: no-drag;
}