.navbar {
    -webkit-app-region: drag;
}

button,
a {
    -webkit-app-region: no-drag;
}

.bd-lead {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 300;
}

.select-menu {
    max-height: 50vh;
    overflow-y: auto;
}

.text-justify {
    text-align: justify;
}

th.text-center > div[class^='form-'] > input {
    float: unset;
}

td.text-center > div[class^='form-'] > input {
    float: unset;
}

th.text-center > div[class*=' form-'] > input {
    float: unset;
}

td.text-center > div[class*=' form-'] > input {
    float: unset;
}

.select-menu {
    width: 100%;
}

main > .container {
    padding: 60px 15px 0;
}
